.locationWrapper {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  margin: 10px 10px 0 0;
}

.site:hover {
  cursor: pointer;
}

.selectedSiteWrapper {
  margin-top: 20px;
}

.selectedSiteWrapper > div:first-of-type {
  font-size: 30px;
  font-weight: 500;
}

.waveDataWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
